@model FilmMVC.Models.MovieReview

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>MovieReview</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.User, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.UserID,
                new SelectList(ViewBag.Users, "UserID", "UserName"))
                @Html.ValidationMessageFor(model => model.User)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Review, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Review)
                @Html.ValidationMessageFor(model => model.Review)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Movie, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.MovieID,
                new SelectList(ViewBag.Movies, "MovieID", "MovieName"))
                @Html.ValidationMessageFor(model => model.Movie)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Posted, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Posted)
                @Html.ValidationMessageFor(model => model.Posted)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
