@model FilmMVC.Models.Movie

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Movie</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.MovieName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MovieName)
                @Html.ValidationMessageFor(model => model.MovieName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MovieDescription, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MovieDescription)
                @Html.ValidationMessageFor(model => model.MovieDescription)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GenreID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.GenreID, new SelectList(ViewBag.Genres, "GenreID", "GenreName"))
                @Html.ValidationMessageFor(model => model.GenreID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Actors, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.ListBoxFor(m => m.Actors, this.ViewBag.ActorsViewBag as MultiSelectList)
                @Html.ValidationMessageFor(model => model.Actors)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Directors, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.ListBoxFor(m => m.Directors, this.ViewBag.DirectorsViewBag as MultiSelectList)
                @Html.ValidationMessageFor(model => model.Directors)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
